html{
    background-color: #d6caae;
}

.navigation{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    height: auto;
}

fieldset > div{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,textarea{
    background-color: #aea48e;
}

button{
    background-color: #ffc500;
}
